:root {
    --primary: #7E1E80;
    --primary-hover: #9505E3;
    --primary-active: #B637FB;
    --primary-inner-text: #FAFAFA;
    --secondary: #E3E3E3;
    --secondary-inner-text: #929292;
    --red-dot-color: #c90000;
    --backgrounds: #FAFAFA;
    --text: #2d2c2c;
    --border-radius: 10px;
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    --drop-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    --default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --default-font-weight: 400;
}

body {
    font-family: var(--default-font);
    font-weight: var(--default-font-weight);
    color: var(--text);
    background-color: var(--backgrounds);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: var(--default-font-weight);
    color: var(--primary);
}

a:hover {
    color: var(--primary-hover);
}

a:active {
    color: var(--primary-active);
}

button, input[type="submit"] {
    color: var(--primary-inner-text);
    background-color: var(--primary);
    border: none;
    padding: 0.2rem 1rem;
    transition: 0.5s;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

button:hover, input[type="submit"]:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

button:active, input[type="submit"]:hover {
    background-color: var(--primary-active);
}

input, textarea, input[type="textarea"], input[type="number"], input[type="select"], select {
    background-color: var(--secondary);
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    width: 100%;
    font-family: var(--default-font);
    font-weight: var(--default-font-weight);
    color: var(--secondary-inner-text);
    outline: none;
    box-shadow: var(--box-shadow);
}

.skeleton {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    animation: colorBrightnessPulseLight 0.8s alternate-reverse infinite;
}

input[type="select"], select {
    width: 100%;
}

input[type="submit"]{
    width: unset;
}

.logo {
    position: absolute;
    width: 100vw;
    text-align: right;
    font-size: 4rem;
    top: -0.45rem;
    left: -0.45rem;
    font-weight: bold;
    opacity: 0.2;
    z-index: -9999;
}

.logo::first-letter{
    color: var(--primary-hover);
}

.lines_box{
    height: 2rem;
    width: 2em;
}

.lines_box:hover {
    cursor: pointer;
}

.line {
    background-color: var(--primary);
    height: 0.2rem;
    width: 100%;
}

.lines_box:hover .line {
    background-color: var(--primary-hover);
}

.line_top {
    position: relative;
}

.line_middle {
    position: relative;
    top: 0.33rem;
}

.line_bottom {
    position: relative;
    top: 0.66rem;
}

table {
    margin-top: 1rem;
    width: 100%;
}

.table-body{
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0;
    border: 0;
}

tr {
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-cell{
    padding: 0.5rem;
}

.primary-cell{
    width: 70%;
}

.action-cell{
    width: 10%;
}

.shadowed-light {
    box-shadow: var(--box-shadow);
}

.page-container{
    width: 40%;
    margin: 0 auto;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: var(--red-dot-color);
    border-radius: 50%;
    display: inline-block;
    animation: colorBrightnessPulse 0.8s alternate-reverse infinite;
}

.positioned-icon {
    vertical-align: middle;
    filter: drop-shadow(var(--drop-shadow));
    padding-bottom: 2px;
}

.horizontal-divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--secondary);
    height: 1px;
    width: 100%;
}

@keyframes colorBrightnessPulseIntense {
    from {
        filter: brightness(1.5);
    }
    to {
        filter: brightness(0.6);
    }
}

@keyframes colorBrightnessPulseLight {
    from {
        filter: brightness(1.2);
    }
    to {
        filter: brightness(0.8);
    }
}

@media (max-width: 900px) {
    .page-container{
        width: 90%;
        margin: 0 auto;
    }

    .mobile-hidden {
        display: none;
    }
}
