:root {
    --primary: #7E1E80;
    --primary-hover: #9505E3;
    --primary-active: #B637FB;
    --primary-inner-text: #FAFAFA;
    --secondary: #E3E3E3;
    --secondary-inner-text: #929292;
    --red-dot-color: #c90000;
    --backgrounds: #FAFAFA;
    --text: #2d2c2c;
    --border-radius: 10px;
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    --drop-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    --default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --default-font-weight: 400;
}